*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
span, a, h1,h5,p, input, button {
    font-family: 'Poppins', sans-serif;
}
.container {
    margin: 0 65px;
}
.top-bar {
    background-color: #007878;
}
.upper-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    .phone-number {
        color: white;
        display: flex;
        align-items: center;
        gap: 15px;
        span {
            font-size: 16px;
            font-weight: 500;
        }
    }
    .description {
        display: flex;
        align-items: center;
        gap: 15px;
        a {
            color: white;
            text-decoration: none;
            font-size: 16px;
            font-weight: 500;
            cursor: pointer;
        }
    }
}

.main-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    margin: 32px 0 0 0;
    padding: 35px 0;
}

.logo-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
        font-size: 36px;
        font-weight: 700;
    }
    .sign-in {
        display: flex;
        align-items: center;
        gap: 15px;
        span {
            font-size: 16px;
            font-weight: 500;
            cursor: pointer;
            text-decoration: none;
            color: black;
        }
    }
}
.search-bar {
    display: flex;
    justify-content: space-between;
    width: 550px;
    background-color: #f7f7f7;
    padding: 10px 10px;
    border-radius: 8px;
    
    
    input {
        position: relative;
        border: none;
        background-color: #f7f7f7;
    }
    button {
        border: none;
        cursor: pointer;
        background-color: #f7f7f7;
    }

}

.links-part {
    display: flex;
    gap: 70px;
    a {
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;
        color: black;
        cursor: pointer;
    }
}

@media (max-width: 820px) {
    .logo-part {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
    .search-bar {
        width: 100%;
        input {
            width: 100%;
        }
    }
    .sign-in {
        flex-direction: column;
        gap: 10px;
    }
    .links-part {
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }
    .upper-footer {
        gap: 10px;
    }
}

@media (max-width: 520px) {
    .upper-header, .bottom-footer {
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
    }
}

footer {
    background-color: #f7f7f7;

}
.upper-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    h1 {
        font-size: 36px;
        font-weight: 700;
    }
    .search-bar {
        display: flex;
        justify-content: space-between;
        width: 550px;
        background-color: #ffffff;
        padding: 10px 10px;
        border-radius: 8px;
        margin: 30px 0;
    }
    
    input {
        position: relative;
        border: none;
        background-color: #ffffff;
    }
    button {
        border: none;
        cursor: pointer;
        background-color: #ffffff;
    }

}

.bottom-footer {
    display: flex;
    justify-content: space-between;
    margin: 70px 0;
    padding-bottom: 10px;
}
.main-part {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.mail-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    p {
        max-width: 650px;
    }
    .mail {
        display: flex;
        align-items: center;
        gap: 10px;
    }
}
.phone-message {
    display: flex;
    flex-direction: column;
    gap: 70px;
    .phone {
        display: flex;
        align-items: center;
        gap: 10px;
        img {
            width: 24px;
            height: 24px;
        }
    }
    .message-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        gap: 10px;
        width: 200px;
        height: 50px;
        border: black 1px solid;
        background-color: transparent;
        border-radius: 8px;
        cursor: pointer;
    }
}

.about {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    .each {
        display: flex;
        flex-direction: column;
        gap: 10px;
        h5 {
            font-size: 18px;
            font-weight: 600;
        }
        a {
            text-decoration: none;
            font-size: 16px;
            color: black;
            cursor: pointer;
        }
    }
}

.copyright {
    background-color: white;

}

.end-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    p {
        font-size: 16px;
    }
    .social-medias {
        display: flex;
        align-items: center;
        gap: 20px;
        img {
            width: 24px;
            height: 24px;
            cursor: pointer;
        }
    }
}